    
<html>
    <header>
        <title>
            Random Passcode
        </title>
    </header>
    <body>
        <div>
            <p><h3 class="center-text">Random passcode (passcode #@ViewBag.Count)</h3></p>
            <p>@ViewBag.password</p>
            <p><a href="/"><button>Generate</button></a></p>
        </div>
    </body>
</html>